/* @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");


.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items:center;
    padding: 10px;
    font-family: Orbitron;
    font-size: 10px;
    background-color:grey;
    color: white;
}

.title {
    font-size: px;
}

.routes {
    display: flex;
    /* margin: auto; */
    /* gap: 20px;
    flex-wrap: wrap;
} */ 
 
.navbar bg-dark border-bottom border-body {
    background-color: blue;
}