.header h1 {
    color:antiquewhite;
}

.header {
    display: flex;
    flex-wrap: wrap;
    /* /* margin: auto; */
    justify-content: space-between; 
    align-items:center;
    padding: 10px;
}

.routes {
    display: flex;
    /* margin: auto; */
    gap: 20px;
    flex-wrap: wrap;
    /* padding: 10px; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* position:absolute;
    right: 5%; */
    /* width: 350px; */
}