@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

h1 {
  color: cyan;
}

.auto-type {
  font-family: 'Orbitron', sans-serif;
  color:cyan;
}

img {
      margin-top: 10%;
      /* border-radius: 40px; */
      /* box-shadow: 0 0 30px; */
      transition:0.5s;
}
img:hover {
      transform: scale(1.05) rotateZ(2deg);
      box-shadow: 0 0 40px cyan;
    }

.container {
  /* position: absolute; */
  top: 30%;
  left: 20%;
}
.animate-slide-down {
  animation: slideDown 1.2s ease-out forwards;
  opacity: 0; /* invisible avant l'animation */
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* @keyframes slideIn {
  to {
    right: 0;
  }
} */
.typewriter {
  /* text-align: center;
  margin-top: 200px; */
}

.typewriter-text {
  overflow: hidden; 
  border-right: 2px solid black; /* Simulate cursor */
  white-space: nowrap; /* Prevent line breaks */
  margin: 0 auto;
  letter-spacing: 2px; 
  animation: typing 5s steps(40) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}